<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Listing Details</h2>
            <div class="card show-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
                <div class="card-body">
                  <h5 class="card-title"><b><%= listing.title %> </b></h5>
                  <p class="card-text"><%= listing.description %>
                    <br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <br>
                    <%= listing.location %> , <%= listing.country %> 
                    </p>
                </div>
            </div>
        </div>
        <div class="offset-3 show-btns mb-4">
            
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary edit-btn col-1">Edit</a>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="col-1">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>       
        </div>
    </div>
    
   
    
</body>
